html {
    height: 100%;
    position: relative;
}

body {
    position: relative;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    height: 100%;
    margin-bottom: 70px;
}

h1 {
    color: #445529;
    font-size: 55px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 10px;
}

h2 {
    color:#70706f;
    font-size: 30px;
}

h3 {
    color: #445529;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 10px;
    padding-bottom: 20px;
    font-weight: bolder;
}

h4 {
    color:#78573e;
    font-size: 30px;
    font-weight: 500;
}

i {
    font-size: 4em;
    color:#70706f;
    padding-bottom: 10px;
    align-self: center;
}

a {
    color: #78573e;
}

a:hover {
    color: #8b8b8a;
    text-decoration: none;
}

.navbar {
    border-bottom:2px solid #edeceb;
}

.nav-item {
    letter-spacing: 2.5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.top-padding {
    padding-top: 60px;
}

.img-padding {
    padding-bottom: 10px;
    padding-top: 20px;
}

.detail-text {
    padding-top: 2em;
}

.intro-text {
    font-size: 1.25em;
    font-weight: 100;
    padding-top: 20px;
}

.page-footer {
    border-top: 2px solid #edeceb;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.footer-text {
    font-size: 14px;
    padding-top: 5px;
}

.coming-soon-text {
    padding-top: 90px;
}

.footer-icon {
    color: #00000098;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.hero-image {
    width:100%;
    height:600px;
    background: url('images/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

span {
    opacity: .9;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}

.hero-text {
    margin-top: 220px;
}